PLUGIN_HOST=0.0.0.0
PLUGIN_PORT=7000
PLUGIN_NAME=sweetie-plugin-runtime-orchestrator
PLUGIN_VERSION=1.0.0
REGISTRY_URL=http://host.docker.internal:7000
WORLD_MODEL_URL=http://host.docker.internal:7000
NAV_URL=http://host.docker.internal:7000
MISSION_URL=http://host.docker.internal:7000
SIM_URL=http://host.docker.internal:7000
