EVENT_BUS_URL=http://sweetie-plugin-event-bus:7000
ACTION_REGISTRY_URL=http://sweetie-plugin-action-registry:7000
GAIT_LIBRARY_URL=http://sweetie-plugin-gait-library:7000
SOCIAL_BONDING_URL=http://sweetie-plugin-social-bonding:7000
CRUSADER_LINK_URL=http://sweetie-plugin-crusader-link:7000
AUTONOMY_SUPERVISOR_URL=http://sweetie-plugin-autonomy-supervisor:7000

PERCEPTION_ADAPTER_URL=http://sweetie-adapter-perception:7000
MOTION_ADAPTER_URL=http://sweetie-adapter-motion:7000
BATTERY_ADAPTER_URL=http://sweetie-adapter-battery:7000
AUDIO_ADAPTER_URL=http://sweetie-adapter-audio:7000
PEER_ADAPTER_URL=http://sweetie-adapter-peer-transport:7000

CERBERUS_API_BASE_URL=http://host.docker.internal:8000
CONTROLLER_BASE_URL=http://host.docker.internal:8080
