PLUGIN_HOST=0.0.0.0
PLUGIN_PORT=7000
PLUGIN_NAME=sweetie-plugin-behavior-engine
PLUGIN_VERSION=1.0.0
DEFAULT_ENERGY=0.82
DEFAULT_CURIOSITY=0.86
DEFAULT_AFFECTION=0.80
DEFAULT_DRAMA=0.42
DEFAULT_CAUTION=0.38
