PLUGIN_HOST=0.0.0.0
PLUGIN_PORT=7000
PLUGIN_NAME=sweetie-plugin-nav2-pathing
PLUGIN_VERSION=1.0.0
CERBERUS_API_URL=http://host.docker.internal:8000
ROS2_BRIDGE_URL=http://host.docker.internal:7010
FORWARD_TO_ROS2=false
DEFAULT_FRAME=map
MAX_SPEED_MPS=0.8
